{% extends "base.html" %}

{% block content %}
    <div id="toolbar" style="z-index: 2;">
		<h1 style="position: absolute; top: -8px;left: 600px;">Gallery</h2>
	</div>
    <div style="position: absolute;top: 100px;">
        {% for post in posts %}
            <input class="shape" type="button" name=pic value={{post.title}} onclick="load(this.value)" style="color: yellow;padding-bottom: 10px;padding-left: 0px;">
            <script>
                function home() {
                    document.location.href="/";
                }
                function load(value) {
                    document.location.href="/recent/"+value;
                }
            </script>
        {% endfor %}
    </div>
    <div id="footbar" style="z-index: 1;">
		<input class="shape" type="button" value="home" onclick="home()">
	</div>
{% endblock %}